// COLORS

// Main colors
$grey: #d4d4d4;

// Special colors
//orange
$dark_orange: #f65;
$pale_orange: #fa7;

//blue
$dark_blue: #416ad3;
$pale_blue: #608af4;

//green
$dark_green: #00b16a;
$pale_green: #3fc380;

//yellow
$dark_yellow: #f5d486;
$pale_yellow: #fbde98;


// FONTS

$mainFont: Gotham, Trebuchet, Arial;