// COLORS

// Main colors
$grey: #d4d4d4;

// Special colors
//orange
$dark-orange: #f65;
$pale-orange: #fa7;

//blue
$dark-blue: #416ad3;
$pale-blue: #608af4;

//green
$dark-green: #00b16a;
$pale-green: #3fc380;

//yellow
$dark-yellow: #f5d486;
$pale-yellow: #fbde98;


// FONTS

$mainFont: Gotham, Trebuchet, Arial;