#donation
{
    // width: 50%;
    padding: 25px 0;

    color: $grey;
    h1
    {
        font-size: $titleFontSize;
        font-weight: 500;

        margin-bottom: 10px;
        padding: 0 25px;

        text-align: center;
    }
    h2.subtitle
    {
        font-family: $gothamBookFont;
        font-size: $normalFontSize;
        font-weight: 0;
        font-style: italic;

        margin-bottom: 50px;
        padding: 0 25px;

        text-align: center;
    }
    .row
    {
        margin-right: 0;
        margin-left: 0 ;
    }
    //////////
    // Progression bar style
    //////////
    .level
    {
        position: relative;

        margin: 0 25px;

        text-transform: uppercase;
        .level-background
        {
            position: relative;

            height: 20px;

            border-radius: 10px;
            background-color: $pale-grey;
            &:before
            {
                font-size: $smallFontSize;

                position: absolute;
                bottom: -20px;
                left: 0;

                content: 'Départ';
            }
            &:after
            {
                font-size: $smallFontSize;

                position: absolute;
                right: 0;
                bottom: -20px;

                content: 'Arrivée';
            }
            .level-real
            {
                position: absolute;
                z-index: 2;
                left: 0;

                max-width: 100%;
                height: 20px;

                transition: all .5s ease-out;

                border-radius: 10px;
                background-image: linear-gradient(60deg, $dark-orange, $pale-orange);
                &:after
                {
                    font-size: $smallFontSize;

                    position: absolute;
                    top: -20px;
                    right: -10px;

                    content: attr(data-content) '%';
                }
                &.active
                {
                    &:after
                    {
                        content: '';
                    }
                }
            }
            .level-possible
            {
                z-index: 1;

                background-image: linear-gradient(60deg, $dark-blue, $pale-blue);

                @extend .level-real;
                &:after
                {
                    content: '';
                }
                &.active
                {
                    &:after
                    {
                        content: attr(data-content) '%';
                    }
                }
            }
        }
        .biarritz-img
        {
            position: relative;
            top: -15px;

            display: block;
            // position: absolute;
            // top: 0;
            // left: 0;

            width: 60px;
            margin: auto;
        }
        .marrakesh-img
        {
            position: relative;
            top: -15px;

            display: block;
            // position: absolute;
            // top: 0;
            // right: 0;

            width: 80px;
            margin: auto;
        }
    } //End of block progression bar style
    p.level
    {
        font-size: $smallFontSize;

        margin: 5px 15px 25px;

        text-align: center;
    }
    //////////
    // Global donation statistics style
    //////////
    .global-donation
    {
        position: relative;

        min-height: 181px;

        border-top: 1px solid $pale-grey;
        border-bottom: 1px solid $pale-grey;
        .timer-before-donation
        {
            line-height: 181px;

            position: relative;
            z-index: 5;

            text-align: center;
            p.timer
            {
                font-size: $normalFontSize;
            }
            .timer
            {
                font-size: $bigFontSize;

                display: inline-block;
            }
        }
        .donation-statistics
        {
            display: none;

            word-wrap: break-word;

            align-items: center;
            .numbers
            {
                padding: 0;

                transition: 1s all ease-out;

                border-right: 1px solid $pale-grey;
                background-color: $white;
                &.active
                {
                    transform: translateX(-100%);

                    opacity: 0;
                }
                .total-donation
                {
                    display: flex;

                    padding: 25px 0;

                    text-align: center;
                    .amount-donation
                    {
                        width: 60%;
                        padding: 0 15px;

                        border-right: 1px solid $pale-grey;
                    }
                    .amount-percentage
                    {
                        width: 40%;
                        padding: 0 15px;
                    }
                }
                .total-donation-bottom
                {
                    display: flex;

                    text-align: center;
                    text-transform: uppercase;

                    border-top: 1px solid $pale-grey;
                    .donor
                    {
                        width: 50%;
                        padding: 25px 15px;

                        border-right: 1px solid $pale-grey;
                    }
                    .days-left
                    {
                        width: 50%;
                        padding: 25px 15px;
                    }
                    @media screen and (max-width: 992px)
                    {
                        border-bottom: 1px solid $pale-grey;
                    }
                }
                h2
                {
                    font-size: $mediumFontSize;
                    &.orange
                    {
                        color: $pale-orange;
                    }
                }
            }
            .contribute-button-parent
            {
                padding: 0;

                transition: 1s all ease-out;

                background-color: $white;
                &.active
                {
                    transform: translateX(100%);

                    opacity: 0;
                }
                a
                {
                    display: block;

                    text-align: center;

                    color: $grey;
                    img
                    {
                        display: block;

                        width: 75%;
                        margin: auto;
                    }
                    &:after
                    {
                        font-size: $smallFontSize;
                        font-style: italic;

                        margin-top: 10px;

                        content: 'Paiement sécurisé';
                    }
                }
            }
        }
        .make-donation
        {
            position: absolute;
            top: 0;
            left: 0;

            display: none;

            padding: 25px;
            .to-flex
            {
                display: flex;

                align-items: center;
            }
            h1
            {
                font-size: $titleFontSize;
            }
            h2
            {
                display: inline-block;

                margin-right: 15px;
            }
            form
            {
                display: flex;

                align-items: center;
                input[type=number]
                {
                    width: 100px;
                    padding: 5px 10px;
                    padding-left: 20px;

                    text-align: center;

                    color: $pale-blue;
                    border: 2px solid $pale-blue;
                    border-radius: 5px;
                    outline: none;
                }
                input[type=image]
                {
                    display: inline-block;

                    max-width: 250px;
                }
                h2
                {
                    display: inline-block;

                    max-width: 250px;
                    margin: 0 15px;
                    span
                    {
                        color: $pale-blue;
                    }
                }
            }
        }
        .donation-success
        {
            position: absolute;
            top: 0;
            left: 0;

            display: none;

            padding: 25px;

            text-align: center;
            h2
            {
                font-size: $titleFontSize;

                margin-bottom: 25px;
                &:before
                {
                    position: relative;
                    top: 15px;

                    display: inline-block;

                    width: 50px;
                    height: 50px;
                    margin-right: 15px;

                    content: ' ';

                    background: url('../assets/buttons/success-button.png') no-repeat center center;
                    background-size: 100%;
                }
            }
        }
    }// End of block global statistics 
    //////////
    // Daily donation style
    //////////
    .daily-donations
    {
        .day-range
        {
            margin: 50px 0;
            @media screen and (max-width:1495px)
            {
                margin: 25px 0;
                &:first-child
                {
                    width: 50%;
                    margin: 15px 0;
                    float: left;
                }
                &:nth-child(2)
                {
                    width: 50%;
                    margin: 15px 0;
                    float: left;
                }
            }
            .single-day
            {
                display: flex;
                .visual-icon
                {
                    font-size: $mediumFontSize;

                    position: relative;

                    min-width: 64px;
                    height: 64px;

                    text-align: center;

                    color: $grey;
                    background: url('../assets/buttons/grey-bg-button.png') no-repeat center;
                    background-size: cover;
                    &.passed
                    {
                        color: $white;
                        background: url('../assets/buttons/orange-bg-button.png') no-repeat center;
                        background-size: cover;
                    }
                    &.active
                    {
                        color: $white;
                        background: url('../assets/buttons/blue-bg-button.png') no-repeat center;
                        background-size: cover;
                    }
                    h3
                    {
                        margin-top: 13px;
                        &:after
                        {
                            font-size: $normalFontSize;
                            font-size: .6em;

                            display: block;

                            margin: auto;

                            content: 'Jour';
                        }
                    }
                }
                .content
                {
                    margin-left: 5px;
                    p
                    {
                        font-size: $smallFontSize;
                        line-height: 21px;

                        text-transform: uppercase;
                        &.italic
                        {
                            font-style: italic;

                            text-transform: lowercase;
                        }
                        span
                        {
                            float: right;

                            padding-left: 10px;
                        }
                    }
                }
                @media screen and (max-width:1495px)
                {
                    width: 100%;
                    margin: 15px 0;
                }
            }
            &:last-child
            {
                margin-bottom: 0;
            }
        }
    }
}
