#map
{
    z-index: 2;

    width: 50%;
    // background: url('../assets/map.png') no-repeat;

    background-color: $dark-orange;
    background-size: cover;
    .svg
    {
        width: 50%;
    }
}
