#map
{
    position: relative;
    z-index: 2;

    background: url('../assets/map.png') no-repeat;
    background-size: 100% 100%;
    img
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
    .success-video-container
    {
        position: relative;
        z-index: 25;
        top: 0;
        left: 0;
        display: none;

        width: 100%;

        background-color: $white;
        #success-video
        {
            display: block;

            width: 100%;
            height: auto;
        }
        &.visible
        {
            display: inline-block;
        }
    }
}
